@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 62.5%;
}
/*1rem=10px*/

.color1 {color: #112533;}
.color2 {color: #0e5268;}
.color3 {color: #098baa;}
.color4 {color: #03d5f6;}
.color5 {color: #0ffff8;}

/*Propiedades generales*/
body {
    background-color: rgb(135, 183, 216);
    font-family: 'Oswald', sans-serif;
}

.border {
    border: 1px solid black;
}

/*Animaciones index*/
.imgGaleria:hover {
    animation: imgGaleria 4s;
}

@keyframes imgGaleria{
    50% {
        transform: scale(1.3);
    }
    75% {
        border-radius: 20%;
    }
}

/*Areas y grids*/
.contenedorIndex {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    grid-template-rows: .5fr 3fr 3fr .5fr;
    row-gap: 1rem;
    grid-template-areas: 
    "header header nav nav"
    "galeria galeria galeria publicidad"
    "video video video publicidad"
    "footer footer footer footer";
}

.contenedorHeader {
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: .5fr;
}

.contenedorGaleria {
    display: grid;
    grid-template-rows: .5fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contenedorVideo {
    display: grid;
    grid-template-rows: .5fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

/*Header*/
header {
    grid-area: header;
    background-color: #3893a1;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.logo {
    max-width: 100%;
    width: 10rem;
    justify-self: center;
    align-self: center;
}

h1 {
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    font-size: 6rem;
}

/*Navegacion*/
nav {
    grid-area: nav;
    background-color: #3893a1;
}

.cajaNav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    background-color: #0e5268;
}

.botonNav {
    margin-left: .2rem;
    margin-right: .2rem;
    padding: .2rem;
    display: flex;
    justify-content: center;
}

.navFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letrasNav {
    text-decoration: none;
    color: whitesmoke;
    font-size: 3rem;
    text-transform: uppercase;
}

/*Galeria*/    
section#galeria {
    grid-area: galeria;
    margin: 1rem;
}

.imgGaleria {
    max-width: 100%;
    width: 33rem;
    height: 33rem;
    border: .5rem outset #0e5268 ;
    margin: 2rem;
    align-self: center;
    justify-self: center;
}
h2 {
    padding: 2rem;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: stretch;
    font-size: 4.5rem;
    background-color: #0e5268;
    text-align: center;
    color: whitesmoke;
}
/*Video*/
section#video {
    grid-area: video;
    margin: 1rem;
}

.video {
    max-width: 100%;
    margin: 2rem;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
}

aside {
    grid-area: publicidad;
}

.asideFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.publi {
    max-width: 100%;
}

footer {
    grid-area: footer;
    background-color: #3893a1;
}
/*Contacto*/

/*Parrrafo formulario*/
main p {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    background-color: #098baa;
    border: black 1rem outset;
    color: white;
}
/*formulario*/
main form {
    margin-left: 76rem;
    padding: 4rem;
}

main form ul {
    list-style: none;
}

main form ul li{
    padding: 1rem;
}

main form ul li label {
    display: inline-block;
    width: 8rem;
    font-size: 3rem;
    padding: 1rem;
}
input {
    width: 15rem;
    padding: 2rem   ;
}

.boton {
    margin-left: 14rem;
}
/*Experiencias*/

/*Contenedor expereiencias*/
.contenedorComentarios {
    font-size: 3rem;
    padding: 2rem;
    margin: 2rem;
}
.contenedorComentarios div {
    background-color: #098baa;
    padding: 2rem;
    margin: 2rem;
    border: #112533 1rem outset;
}