
*{
    padding: 0%;
    margin: 0%;
}

.azul {
    background-color: #0e5268;
}

.letra {
    color: aliceblue;
}

.fondo {
    background-color: rgb(135, 183, 216);
}

.navAzul {
    background-color: #3893a1;
}